* {
    margin: 0;
    padding: 0;
}

header, main {
    text-align: center;
    margin: 100px 0 0 0;
}

body {
    background: linear-gradient(to right,rgba(255, 255, 0, 0.4), rgba(0, 0, 255, 0.137), rgba(0, 128, 0, 0.4));
}